@import '~@angular/material/theming';
@import 'theme/theme';
@import 'movies';
@import 'movie';

html,
body {
    height: 100%;
    background-color: #303030;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:focus {
    outline: none;
}

a {
    color: mat-color($accent);
}

#logo {
    margin: 16px;
}

.container {
    padding: 16px;
}

.clickable {
    cursor: pointer;
}




