@import '~@angular/material/theming';

@import 'card';
@import 'chips';
@import 'list-item';

html,
body {
    height: 100%;
    background-color: #303030;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:focus {
    outline:none;
}

#logo {
    margin: 15px;
}

.container {
    padding: 15px;
}

.clickable {
    cursor: pointer;
}

.movie-card {
    background-color: mat-color($black);
    padding: 20px;

    & img {
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
        height: 300px;
        width: 220px !important;
    }
}
