<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened>
        <mat-toolbar color="accent">
            <h1 id="logo">Movies Collection</h1>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item routerLink="/" routerLinkActive="mat-list-item-focus">
                All
            </mat-list-item>
            <mat-list-item *ngFor="let genre of genres" [routerLink]="['genre', genre|lowercase]" routerLinkActive="mat-list-item-focus">
                {{genre}}
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
