<mat-toolbar color="accent">
    <mat-form-field floatLabel="never" fxFlex>
        <input matInput (input)="onSearch($event.target.value)" [value]="searchQuery" autocomplete="off">
        <mat-placeholder>Search…</mat-placeholder>
    </mat-form-field>
</mat-toolbar>
<mat-toolbar fxLayoutAlign="space-between center">
    <div *ngIf="filteredMovies?.length === 0">
        There are no movies to display with this criteria.
    </div>
    <ng-container *ngIf="filteredMovies?.length > 0">
        <div>
            Showing {{filteredMovies.length}} of {{movies?.length}}
        </div>
        <div fxLayoutGap="10px">
            <mat-icon (click)="onSort('rating')" matTooltip="Sort by Rating" class="clickable" [class.active]="activeSortType === 'rating'">
                star_border
            </mat-icon>
            <mat-icon (click)="onSort('alphabetical')" matTooltip="Sort Alphabetically" class="clickable" [class.active]="activeSortType === 'alphabetical'">
                sort_by_alpha
            </mat-icon>
        </div>
    </ng-container>
</mat-toolbar>
<div class="container" fxLayout="row wrap" fxLayoutGap="15px">
    <mat-card *ngFor="let movie of filteredMovies" [routerLink]="['/movies', movie.key]" class="clickable mat-card-grid">
        <img mat-card-image [src]="'/assets/images/movie-covers/' + movie.img" [alt]="movie.img">
        <mat-card-header color="accent">
            <mat-icon (click)="onSetFavourite(movie.key, $event)" [class.active]="isFavourite(movie.key)"
                [matTooltip]="isFavourite(movie.key) ? 'Remove from Favourites' : 'Add to Favourites'" class="movies-fav-icon clickable">
                stars
            </mat-icon>
            <mat-card-title color="accent">{{movie.name}} ({{movie.rate}})</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{movie.description|truncate:150}}</p>
            <mat-chip-list aria-label="Genres">
                <mat-chip *ngFor="let genre of movie.genres">
                    {{genre|uppercase}}
                </mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </mat-card>
</div>
