@include mat-core();

$primary: mat-palette($mat-blue-grey);
$accent: mat-palette($mat-teal, A400);
$warn: mat-palette($mat-deep-orange);
$black: mat-palette($mat-grey, 900);
$white: #FFFFFF;
$gray: mat-palette($mat-grey, 700);

$theme: mat-dark-theme((color: (primary: $primary, accent: $accent, warn: $warn, )));
@include angular-material-theme($theme);


@import 'card';
@import 'chips';
@import 'icon';
@import 'list-item';
@import 'progress-bar';
@import 'toolbar';
